<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">



    <div id="app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">layui 后台布局</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(0)">控制台</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(1)">商品管理</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(2)">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                            <dd><a href="">消息管理</a></dd>
                            <dd><a href="">授权管理</a></dd>

                        </dl>
                    </li>
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            贤心
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">退了</a></li>
                </ul>
            </div>


            <div class="layui-body">
                <div class="layui-tab" lay-filter="demo" lay-allowClose="true">
                    <ul class="layui-tab-title"></ul>
                    <div class="layui-tab-content" style="height:100%">
                    </div>
                </div>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" lay-filter="test" v-for="ul in sidebar.navs" v-show="ul.IsShow">
                        <li class="layui-nav-item layui-nav-itemed" v-for="item in ul.lis">
                            <a class="" href="javascript:;">{{item.nav}}</a>
                            <dl class="layui-nav-child">
                                <dd v-for="l in item.items" v-on:click="tabAdd(l)"><a href="javascript:;">{{l.name}}</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-body">
                <div class="layui-tab" lay-filter="demo" lay-allowClose="true">
                    <ul class="layui-tab-title ">
                        <li v-for="item in items" v-bind:lay-id="item.id"  v-bind:class="item.IsShowClass">
                            {{item.name}}
                            <i class="layui-icon layui-unselect layui-tab-close" v-on:click="delet(item)" >ဆ</i>
                        </li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item" v-for="item in items">
                            <iframe  v-bind:data-frameid="item.id" scrolling="auto" frameborder="0" v-bind:src="item.src" style="width:100%;height:99%;"></iframe>
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                © layui.com - 底部固定区域
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src= "/layui/layui.js" ></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
            var $ = layui.$;
        });
        new Vue({
            el: "#app",
            data: {
                items:[],
                sidebar: {
                    navs: [//左侧导航列表
                        {
                            lis: [
                                { nav: "所有商品", items: [{ name: "列表一", src: "/StudentList", id: '123',IsShowClass:"layui-this"}, { name: "列表2", src: "", id: '223', IsShowClass:"" }, { name: "列表3", src: "", id: '143',IsShowClass:"" }] },//li
                                { nav: "解决方案", items: [{ name: "列表一",IsShowClass:"" }, { name: "列表一",IsShowClass:"" }, { name: "列表一", IsShowClass:"" }] }//li
                            ], IsShow: true
                        }
                        ,
                        {
                            lis: [
                                { nav: "所有商品1", items: [{ name: "列表一" }, { name: "列表2" }, { name: "列表3" }] },//li
                                { nav: "解决方案1", items: [{ name: "列表一" }, { name: "列表一" }, { name: "列表一" }] }//li
                            ], IsShow: false
                        },
                        {
                            lis: [
                                { nav: "所有商品2", items: [{ name: "列表一" }, { name: "列表2" }, { name: "列表3" }] },//li
                                { nav: "解决方案2", items: [{ name: "列表一" }, { name: "列表一" }, { name: "列表一" }] }//li
                            ], IsShow: false
                        }
                    ]
                }
            },
            methods: {
                changingOver(index) {
                    for (var i = 0; i < this.sidebar.navs.length; i++) {
                        if (index == i) {
                            this.sidebar.navs[i].IsShow = true;
                        } else {
                            this.sidebar.navs[i].IsShow = false;
                        }
                    }
                },
                tabAdd: function (item) {
                    var isno=true;
                    for(var i=0;i<this.items.length ;i++){
                        if(this.items[i].id==item.id){
                            isno=false;
                        }
                    }
                    if(isno){
                        this.items.push(item);
                    }
                },
                delet(item){
                    var index=this.items.indexOf(item);
                    this.items.splice(index, 1);
                    if(this.items.length!=0){
                        layui.element.tabChange('demo',this.items[this.items.length-1].id);
                    }
                }
            }
        });


    </script>
</body>
</html>
