<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="~/layui/layui.js"></script>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div id="app">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">layui 后台布局</div>
                <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(0)">前端业务</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(1)">教务教学</a></li>
                    <li class="layui-nav-item"><a href="javascript:;" v-on:click="changingOver(2)">系统管理</a></li>
                    
                </ul>
                <ul class="layui-nav layui-layout-right">
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                            @HttpContext.Current.User.Identity.Name
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a href="">基本资料</a></dd>
                            <dd><a href="">安全设置</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="/Home/logoff">退出</a></li>
                </ul>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" lay-filter="test" v-for="ul in sidebar.navs" v-show="ul.IsShow">
                        <li class="layui-nav-item layui-nav-itemed" v-for="item in ul.lis">
                            <a class="" href="javascript:;">{{item.nav}}</a>
                            <dl class="layui-nav-child">
                                <dd v-for="l in item.items" v-on:click="tabAdd(l)"><a href="javascript:;">{{l.name}}</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="layui-body" style="height:100%">
                <div class="layui-tab" lay-filter="demo" lay-allowClose="true">
                    <ul class="layui-tab-title"></ul>
                    <div class="layui-tab-content"></div>
                </div>
            </div>
            <div class="layui-footer">
                <!-- 底部固定区域 -->
                ? layui.com - 底部固定区域
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
            var $ = layui.$;
        });
        new Vue({
            el: "#app",
            data: {
                items: [],
                sidebar: {
                    navs: [//左侧导航列表
                        {
                            lis: [
                                { nav: "学生管理", items: [{ name: "学生列表", src: "/StudentList", id: '123' }, { name: "沟通记录", src: "", id: '223' }] },//li
                                { nav: "解决方案", items: [{ name: "列表一" }, { name: "列表一" }, { name: "列表一" }] }//li
                            ], IsShow: true
                        }
                        ,
                        {
                            lis: [
                                { nav: "所有商品1", items: [{ name: "列表一",id:159 }, { name: "列表2" }, { name: "列表3" }] },//li
                                { nav: "解决方案1", items: [{ name: "列表一" }, { name: "列表一" }, { name: "列表一" }] }//li
                            ], IsShow: false
                        },
                        {
                            lis: [
                                { nav: "所有商品2", items: [{ name: "列表一" }, { name: "列表2" }, { name: "列表3" }] },//li
                                { nav: "解决方案2", items: [{ name: "列表一" }, { name: "列表一" }, { name: "列表一" }] }//li
                            ], IsShow: false
                        }
                    ]
                }
            },
            methods: {
                changingOver(index) {
                    for (var i = 0; i < this.sidebar.navs.length; i++) {
                        if (index == i) {
                            this.sidebar.navs[i].IsShow = true;
                        } else {
                            this.sidebar.navs[i].IsShow = false;
                        }
                    }
                },
                tabAdd: function (item) {
                    if ($(".layui-tab-title li[lay-id]").length <= 0) {
                        this.AddLogic(item);
                    } else {
                        var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                        $.each($(".layui-tab-title li[lay-id]"), function () {
                            //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                            if ($(this).attr("lay-id") == item.id) {
                                isData = true;
                            }
                        })
                        if (isData == false) {
                            //标志为false 新增一个tab项
                            this.AddLogic(item);
                        }
                    }
                    this.ChangeLogic(item);
                },
                AddLogic: function (item) {
                    layui.element.tabAdd('demo', {
                        title: item.name,
                        content: '<iframe data-frameid="' + item.id + '" scrolling="auto" frameborder="0" src="' + item.src + '" style="width:100%;height:800px;"></iframe>',
                        id: item.id
                    })
                },
                ChangeLogic: function (item) {
                    layui.element.tabChange('demo', item.id)
                },
            }
        });
    </script>
</body>
</html>
