<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="home/login" method="post">
            <input type="text" name="name" value="" />
            <input type="password" name="pwd" value="" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
