@using Hnqnkj.OA.Model
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section style{
    <style>
        .layui-table-cell {
            height: 32px;
            line-height: 32px;
        }

        .layui-btn-mini {
            height: 28px;
            line-height: 28px
        }

        .my-container {
            padding: 0 10px
        }

        .top-form {
            border-left: 5px solid #4cff00;
            margin: 10px auto;
            background: #eee;
            height: 45px;
            line-height: 45px;
            padding:5px;
            
        }

            .top-form >div {
                display: inline-block;
                margin: 0 10px;
            }

        select, input {
            margin: 0 !important;
            padding: 0
        }
    </style>

}
<div class="my-container">
    <div class="top-form layui-form">
        <label class="">校区：</label>
        <select id="school" class="layui-input layui-select" style="width:150px">
            <option value="0">请选择</option>
            @foreach (Shcool item in ViewBag.Shcool)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <label class="">沟通类型：</label>
        <select id="type" class="layui-input layui-uselect" style="width:150px">
            <option>请选择</option>
            @foreach (var item in ViewBag.Type)
            {
                <option value="@item.Id">@item.TypeName</option>
            }
        </select>
            <label class="">关键字：</label>
            <input id="description" style="width:150px;display:inline-block" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        <button id="btnSearch" class="layui-btn layui-btn-primary layui-btn-mini">搜索</button>
    </div>

    <div class="layui-row">
        <div class="layui-col-md12 layui-col-lg12">
            <table class="layui-hide" id="table" lay-filter="list"></table>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <div>
        <button class="layui-btn layui-btn-mini" lay-event="edit">编辑</button>
    </div>
</script>
@section script{
    <script>
        layui.use(['table'], function () {
            var table = layui.table;
            var form = layui.form;
            var $ = layui.$
            var tab = table.render({
                elem: '#table'
                , url: '/Chatlist'
                , cellMinWidth: 50
                , cols: [[
                    { field: 'Id', width: 80, title: 'ID', sort: true }
                    , { field: 'ChatWay', width: 100, title: '联系方式' }
                    , { field: 'ConType', width: 100, title: '联系类型' }
                    , { field: 'Leavl', width: 100, title: '意向程度' }
                    , { field: 'Name', width: 100, title: '校区' }
                    , { field: 'Id', width: 300, toolbar: '#barDemo', title: '操作' }

                ]],
                page: true
            });
            table.on('tool(list)', obj => {
                if (obj.event === 'edit') {
                    layer.open({
                        content: '/chatlist/edit?id=' + obj.data.Id,
                        title: '编辑',
                        area: ["600px", "500px"],
                        shade: 0.8,
                        type:2
                    })
                }
            })
            $('#btnSearch').click(e => {
                tab.reload({
                    where: {
                        way: $('#way').val(),
                        type: $('#type').val(),
                        school: $('#school').val(),
                        description: $('#description').val()
                    },
                    page: {
                        curr: 1
                    }
                });
            })
        });

    </script>
}
